<!DOCTYPE html>

<html lang="en">

<head>

	<link rel="stylesheet" href="../css/style.css">

	<title>Forward Fitness Club</title>
	
	<meta charset="utf-8">

</head>

<body>

	<div id="container">
	
		<header>
			<a href="index.html"><img src="../images/ffc_logo.png" alt="Forward Fitness Club logo"></a>
		</header>

		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="class.html">Classes</a></li>
				<li><a href="nutrition.html">Nutrition</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</nav>
		
		<footer>
			<div id="copyright">
				<p>&copy; Copyright 2015. All rights reserved.<br>
				<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a></p>
			</div>
			
			<div id="social">
				<p>Connect with us:</p>
				<p><a href="https://www.facebook.com/fwdfitclub"><img src="images/fblogo.png" alt="Facebook logo"></a>
				<a href="https://www.twitter.com/fwdfitclub"><img src="images/twitterlogo.png" alt="Twitter logo"></a></p>
			</div>
		</footer>
		
	</div>
	
</body>

</html>